/***************************************************************************/
/* Nascom Newsletter */
/***************************************************************************/

.mag-nascom-newsletter h1
{
	text-align: center;
	font-size: 1.2em;
}
.mag-nascom-newsletter h2
{
	text-align: center;
	font-size: 1.1em;
}
.mag-nascom-newsletter h1,
.mag-nascom-newsletter table.contentHeading td
{
	font-family: Arial, Helvetica, Verdana, sans-serif;
	font-size: 1.0em;
	font-weight: bold;
}
.mag-nascom-newsletter p
{
	text-indent: 3em;
	text-align: justify;
}
.mag-nascom-newsletter p.continued

{
	text-indent: 0;
}
.mag-nascom-newsletter table.content,
.mag-nascom-newsletter table.contentHeading
{
	width: 100%;
}
.mag-nascom-newsletter table.content th,
.mag-nascom-newsletter table.content td
{
	padding: 0.4em 0;
}

.mag-nascom-newsletter table.contentHeading th,
.mag-nascom-newsletter table.contentHeading td
{
	padding: 0;
}
.mag-nascom-newsletter table.contentHeading > tbody > tr > td:nth-child(2)
{
	text-align: center;
}
.mag-nascom-newsletter table.contentHeading > tbody > tr > td:last-child
{
	text-align: right;
}
